.add-category {
  margin-top: 10px;
}

.add-recipe {
  margin-top: 20px;
}

.add-plan {
  margin-top: 10px;
}

.categories-list {
  margin-top: 20px;
}

.tags-list {
  margin-top: 20px;
}

.recipes-list {
  margin-top: 20px;
}

.plans-list {
  margin-top: 20px;
}

.plans-actual {
  margin-top: 20px;
}