.btn {
  display: inline-block;
  background: $btn-bgc;
  color: $btn-color;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: $btn-sec-bgc;
  color: $btn-sec-color !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 10px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-secondary-tag {
  font: inherit;
  font-size: 13px;
  background: $logo-color;
  color: $btn-sec-color !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.btn-secondary-category {
  font: inherit;
  font-size: 13px;
  background: $btn-category-color;
  color: $btn-sec-color !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.btn-image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black;
  color: $btn-color;
  padding: 5px 15px;
  height: 40px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn-publish {
  margin: 10px 0;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

@media (max-width: 880px) {
  .btn-secondary {
    margin: 5px 0;
  }
}